{{!< default}}
{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<main id="site-main"  class="site-main outer pb-8">
    <div class="inner">

        <article class="post-full md:w-4/6 m-auto {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">
                {{#if feature_image}}
                <figure class="post-full-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                    --}}
                    <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w,
                        {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w" sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px" src="{{img_url feature_image size=" xl"}}" alt="{{title}}" />
                </figure>
                {{/if}}
                <h1 id="post-title" class="text-5xl font-serif text-center py-5">{{title}}</h1>
                <div class="text-right py-2">
                    <time class="published" datetime="{{date published_at format=" YYYY-MM-DD"}}">{{date published_at
                        format="MMMM DD, YYYY"}}</time>
                    {{#if primary_tag}}
                    {{#primary_tag}}
                    On
                    <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                    {{/if}}
                    ,
                    <span class="reading-time">{{reading_time}}</span>
                </div>
            </header>
            <section class="post-content font-sans text-base prose">
                {{content}}
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.members}}
            {{> subscribe-form}}
            {{/if}}

            {{!-- 
                If you want to disable comments, remove following lines 
                If you want to use it, remember to change the url in `partials/comment.hbs`
            <section class="post-full-comments py-5">
                {{> "comment" }}
            </section>
            --}}
        </article>

    </div>
    </main>
    {{/post}}

    {{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in
    default.hbs --}}
    {{#contentFor "scripts"}}
    <script>

    </script>
    {{/contentFor}}